*{
    box-sizing: border-box;
}

html,body {
    margin: 0;
    padding: 0;
}

.navbar-brand {
    background-color: #4aaaa5;
    color: white;
}

.collapse {
    float: right;
}

.btn-primary {
    background-color:  #4aaaa5;
}